@media (max-width: 700px) {
    .dropdowen {
        display: flex;

        width: 10vw;
        display: block;
    }

    .dropdowen svg {
        padding-top: 23px;
        width: 20vw;
        height: 50px;
    }

    .sfi-logo img {
        width: 70dvw;
    }

    header {
        background-color: transparent;
        padding: 0;

    }

    .logandsvg {
        position: fixed;
        display: flex;
        gap: 30px;
        background-color: black;
        width: 100vw;
    }


    .navbar {
        display: none;
        background: black;
        opacity: 70%;
        height: fit-content;
        width: 42vw;
        position: fixed;
        top: 18.3vw;
        right: 30px;
        border-radius: 20px;
        z-index: 9999;
        }

    .navbar ul {
        list-style: none;
        display: block;
        padding: 20px;
    }

    .navbar ul li {
        padding: 10px;
        font-size: 25px;
        text-align: center;
    }

    .navbar li a {
        color: #ccc;
        text-decoration: none;
        width: 100%;
    }

    .navbar a:hover {
        color: red;
    }

    .navbar {
        display: none;
    }

    .navbar.show-navbar {
        display: block;
    }


    .contaner {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
   
    .hn{
        animation: none ;
    }

    .banner {
        margin-top: 9.6vh;
    }

    .quotes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px auto;

        gap: 10px;
        width: 80vw;

    }

    .quotes img {
        margin-right: 5px;
        height: 250px;
        width: 250px;
        float: left;
        border-radius: 50px;
    }

    .quotes p {

        font-size: 20px;
        text-align: justify;
    }
    .karl_qoration{
        font-size: 20px;
    }

      

  
  .notification_home {

    position: fixed;
    /* display: flex; */
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: flex-end;    z-index: 999;
    /* background: green; */
    height: 500px;
    width: 400px;
    top: 46vh;
    left: 20px;
  }

  
  .hn {
    display: flex;

    gap:20px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background: white;
    height: 60px;
    width: 350px;
    font-size: 20px;
    color: red;
    position: relative;
    opacity: 0; 
    transform: scale(0.5); /* Start with smaller size */
    animation: popup 0.5s ease forwards;
    box-shadow: 10px 10px 30px red;
  }



  .hn svg{
    border: 2px solid red;
    border-radius: 505%;
    padding: 5px;
    fill: red;
    height:25px;
    width: 25px;
    
  }
  .hn svg:hover{
    fill: rgb(192, 4, 4);
    border: 2px solid  rgb(192, 4, 4);

  }

  @keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
 
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
  }

  .hn.remove {
    animation: fadeOut 0.5s ease forwards;
  }
    
    }      