* {
    margin: 0;
    padding: 0;
    /* background: #000; */
}

header {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 5vw;
    justify-content: center
}

.sfi-logo {
    width: fit-content;
}

.dropdowen {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.navbar ul {
    list-style: none;
    display: inline-flex;
    gap: 20px;
}

.navbar a {
    color: #ccc;
    text-decoration: none;
}

.navbar a:hover {
    color: red;
}


.banner img {
    width: 100vw;

}
.contaner{
    display: flex;
}
.quotes {
    margin: 20px auto;
    
    gap: 10px;
    width: 60vw;
    
  }

.quotes img{
    margin-right: 15px;
    height: 300px;
    /* width: 320px; */
    float: left;
    border-radius: 50px;
    box-shadow: 5px 10px 28px red;
}
.quotes p{
text-align: justify;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}
.karl_qoration{
    font-size: 30px;
    color: red;
}

.notification_home{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    background:green;
    width: 20vw;
    height: 60vh;
    
}
 h2{
    width: 100%;
text-align: center;
align-items: center;
justify-content: center;
font-size: 30px;
text-decoration: underline red;}
.news_home{
    background:lightblue;
    width: 20vw;

}

.noti{
    margin: 5px auto;
    height: 50px;
    background: #000;
    width: 90%;
}

.Karl{
    color: red;
    font-family: 'Cedarville Cursive',cursive;
}