* {
    margin: 0;
    padding: 0;
    /* background: #000; */
}

header {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 5vw;
    justify-content: center
}

.sfi-logo {
    width: fit-content;
}

.dropdowen {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.navbar ul {
    list-style: none;
    display: inline-flex;
    gap: 20px;
}

.navbar a {
    color: #ccc;
    text-decoration: none;
}

.navbar a:hover {
    color: red;
}


.banner img {
    width: 100vw;

}
.contaner{
    display: flex;
    width: 100vw;
}
.quotes {
    margin: 20px auto;
    
    gap: 10px;
    width: 60vw;
    
  }

.quotes img{
    margin-right: 15px;
    height: 300px;
    /* width: 320px; */
    float: left;
    opacity: 0; /* Initially set opacity to 0 */
    /* transition: opacity 3s ease; */
    border-radius: 50px;
    box-shadow: 5px 10px 28px transparent; /* Initial shadow with transparent color */
    transition: box-shadow 3s linear,opacity 3s ease; /* Apply transition effect to box-shadow property */
    }
        

.quotes p{
text-align: justify;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}
.kalr_quote{
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 3s ease;
}

.karl_qoration{
    font-size: 30px;
    color: red;
}


 h2{
    width: 100%;
text-align: center;
align-items: center;
justify-content: center;
font-size: 30px;
text-decoration: underline red;}




.Karl{
    color: red;
    font-family: 'Cedarville Cursive',cursive;
}

