*{
    margin: 0;
    padding: 0;
}


h1,h2{
    color: aqua;
    font-family: 'Borel', cursive;
}
body{
    color:white;
    background:#0a192f;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    
    overflow: hidden;
    background:#031022;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100vw; 
    height: 5vh;
}
nav li{
    list-style: none;
}
nav ul{
    padding-right: 100px;
    display: inline-flex;
    gap :20px;
}
nav a{
    color: aliceblue;
    text-decoration: none;    
}
 nav a:hover{
    color: aqua;
}


.first{
    
  margin: 150px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.profile-pic img{
    height: 300px;
    width: 300px;
    border: 2px solid aqua;
    border-radius: 50%;
}
.summery{
    width: 600px;
    justify-content: center;
}
.summery h2{
    color: aqua;
    font-size:40px;
    padding-bottom: 0px;

}
.summery p{
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
text-align: justify;
}
hr{
    width: 30vw;
    margin: auto;
    margin-top: 60px;
    height: 4px;
    background-color:aqua;
    border: none;
    
}
.education{
   
    width: 60vw;
    margin: auto;

}

.education ul{
    padding: 20px;
    font-size: 20px;
    list-style-type: square;
  
}
.education h2{
    padding-top: 150px;
    font-size: 40px;
}
.education li{
    padding: 20px 0;
}
.training{
   
    width: 60vw;
    margin: auto;

}

.training ul{
    padding: 20px;
    font-size: 20px;
    list-style-type: square;
  
}
.training h2{
    padding-top: 150px;
    font-size: 40px;
}
.training li{
    padding: 20px 0;
}

.skill{
   
    width: 60vw;
    margin: auto;
}

.skill ul{
    padding: 20px;
    font-size: 20px;
    list-style-type: square;
  
}
.skill h2{
    padding-top: 150px;
    font-size: 40px;
}
.skill li{
    padding: 10px 0;
}

.project{
   
    width: 60vw;
    margin: auto;
}

.project ul{

    padding: 20px;
    font-size: 20px;
    list-style-type: square;
  
}

.project h2{
    padding-top: 100px;
    font-size: 40px;
}
.project li{
    padding: 20px 0;
}

footer{
    padding-top: 200px; ;
text-align: center;
}
