@media (max-width:700px) {
   
 
hr {
    margin: 40px auto;
    height: 5px;
    width: 200px;
    background: var(--color2);
  }
  nav {
    /* background:red; */
    display: flex;
    flex-wrap: wrap;
    height: 8vh;
    width: 90vw;
    margin: auto;
    align-items: center;
    z-index: 999;
  }
  .navbar {
    background: var(--color1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
 
  }
  .navbar ul {
    display: none;
    list-style: none;
    text-align: center;
    background:var(--color1);
    border: 2px solid var(--color3);
    border-radius: 10px;
    box-shadow: 10px 20px 10;
    position: fixed;
    top: 7vh;
    right: 1vh;  

  
  }
  .navbar ul li {
    display:block;
    padding: 10px;
    margin: 0 auto;
  
    z-index: 5;
  }
  .navbar ul li a {
    text-decoration: none;
    color: var(--color3);
  }
  .navbar ul li a:hover {
    text-decoration: underline ;
  
    color: var(--color2);
  }
  
  .navbar svg {
    display: flex;
    width: 40px;
  }
  .manu{
    /* background: green; */
    height: 100%;
    display: flex;
    align-items: center;
  }
  .social_svgs{
    margin: 20vh 0;
    display: block;
    width: 100vw;
  }
  .social_svgs svg{
    display: flex;
  margin: 50px 0;
    fill: var(--color2);
    height: 30px;
    width:  30px;
  }
  .social_svgs svg:hover{
    fill: var(--color3);
  }
  .full-page{
    padding-top: 10vh;
    height: 90vh;
    padding-left: 22px;
}
  .contaner {
    height: auto;
    width: 85vw;
    padding: 10px;
    margin: 10vh auto;
  }
  
  .first {
    /* background: gray; */
    height: 90vh;
 display: flex;
 align-items:flex-start;
 justify-content:center;
 margin-bottom: 2px;
  }
  .profile_pic {
    height: 314px;
    width: 264px;
  }
  .profile_pic img {
    height: 300px;
    width: 250px;
    border: 7px solid var(--color2);
    border-radius: 20px;
    transition: border-radius 0.2s ease;
    /* animation: popup 0.5s ease forwards; */
  
  }
  .profile_pic img:hover {
    border-radius: 30px;
  }
  
  .summary {
    display: flex;
    flex-wrap: wrap;
    /* background: #000; */
    width: 100%;
    /* min-height: 414px; */
    height:fit-content;
    /* margin: 0 20px; */
    align-items: center;
    justify-content: space-between;
    /* animation: popup 0.5s ease forwards; */
    text-align: start;

  }
  
  hr{
    animation: popup 0.5s ease forwards;
  }
  
  /* #summaryText{
font-size: 20px;
  } */
  
  @keyframes popup {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .education{
    width: 100%;
    height: fit-content;
  }
  .tarning{
    margin-top: 10px;
  }
}