nav {
  display: flex;
  flex-wrap: wrap;
  height: 8vh;
  width: 90vw;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  background: var(--color1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 555;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline;
  padding: 0 10px;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--color3);
}
.navbar ul li a:hover {
  text-decoration: underline ;

  color: var(--color2);
}

.navbar svg {
  display: none;
}


.container {
  height: auto;
  width: 80vw;
  padding: 10px;
  margin: 10vh auto;
}

.first {
  /* background: gray; */
  height: 90vh;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}
.profile_pic {
  /* background: red; */
  height: 414px;
  width: 364px;
}
.profile_pic img {
  height: 400px;
  width: 350px;
  border: 7px solid var(--color2);
  border-radius: 20px;
  transition: border-radius 0.2s ease;
  /* animation: popup 0.5s ease forwards; */

}
.profile_pic img:hover {
  border-radius: 30px;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  /* background: #000; */
  width: 55vw;
  min-height: 414px;
  max-height:fit-content;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  font-size: 2rem;
  /* animation: popup 0.5s ease forwards; */

}
.education{
  width: 50vw;
}

