* {
  margin: 0;
  padding: 0;
}
:root {
  --main-bg-color: #161a30;
  --color1: #31304d;
  --color2: #b6bbc4;
  --color3: #f0ece5;
}
body {
  background-color: var(--main-bg-color);
  color: var(--color3);
}

hr {
  margin: 40px auto;
  height: 5px;
  width: 500px;
  background: var(--color3);
}
nav {
  display: flex;
  flex-wrap: wrap;
  height: 8vh;
  width: 90vw;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  background: var(--color1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline;
  padding: 0 10px;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--color3);
}
.navbar ul li a:hover {
  text-decoration: underline ;

  color: var(--color2);
}

.navbar svg {
  display: none;
}


.contaner {
  
  height: auto;
  width: 80vw;
  padding: 10px;
  margin: 10vh auto;
}

.first {
  /* background: gray; */
  height: 90vh;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}
.profile_pic {
  /* background: red; */
  height: 414px;
  width: 364px;
}
.profile_pic img {
  height: 400px;
  width: 350px;
  border: 7px solid var(--color2);
  border-radius: 20px;
  transition: border-radius 0.2s ease;
  /* animation: popup 0.5s ease forwards; */

}
.profile_pic img:hover {
  border-radius: 30px;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  /* background: #000; */
  width: 55vw;
  min-height: 414px;
  max-height:fit-content;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  /* animation: popup 0.5s ease forwards; */

}

 hr{
  animation: popup 0.5s ease forwards;
}


@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}



