* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

  }
  :root {
    --main-bg-color: #f8f1f1;
    --color1: #11698e;
    --color2: #19456b;
    --color3: #16c79a;
  }
  body {
    background-color: var(--main-bg-color);
    color: var(--color3);
  }
.full-page{
    padding-top: 10vh;
    height: 90vh;
}

hr {
    margin: 40px auto;
    height: 6px;
    width: 500px;
    background: var(--color2);
    border-radius: 20px;
  }


 hr{
    animation: popup 0.5s ease forwards;
  }
  
  
  @keyframes popup {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .font-normal{
    font-size: 1.5rem;
  }

  h2{
    font-size: 3rem;
    padding: 15px 0;
  }

  .m-auto{
    margin: auto;
  }

  ul{
    padding: 0 20px;
  }

  .ta-center{
    text-align: center;
  }

  footer{
margin: 20px0 ;
background:var(--color1);
padding: 10px;
  }