@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root { 
    --bg-color:#12372A;
    --color2:#436850;
    --color3:#ADBC9F;
    --color4:#FBFADA;
  }
 img{
height: 250px;
width: 300px;
border: 5px solid var(--color3);
border-radius: 20px;
 }

.recipe button{
    background:var(--color2);
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border: 2px solid var(--color2);
    color: var(--color4);
    font-size: 20px;
 }
  
 .recipe button:hover{
background: var(--color3);
color: #12372A;
border: 2px solid var(--bg-color);
font-size: 21px;
cursor:pointer;
 }
  