/* for mobile  */

/* Responsiveness */
@media (max-width: 700px) {
    .contaner {
      
        display: grid;
        grid-template-columns: 0.5fr 0.25fr 0.5fr;
        grid-template-rows: 1fr 0.75fr;
        gap: 8px;
    }
    img {
        height: 150px;
        width: 105px;
    
        
    }
    button {
        background: whitesmoke;
        height: 30px;
        width: 80px;
        border-radius: 10px;
        border: 2px solid aqua;
        font-size: medium;
    }

.user_btn {
    margin-top: 20px;
   height: 200px;
   display: flex;
   flex-wrap: wrap;
  
}
    .ans {
        /* display: none; */
        background: lightgrey;
        height: fit-content;

        width: 100px;
        font-size: 15px;
        color: brown;
        text-align: center;
        padding: 5px 0;
        border-radius: 10px;
        margin: auto 0;
    }

.result {
    padding-top: 5%;
    grid-column: span 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: blue;
    font-size: 25px;
    text-align: center;
    


}
}