@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');/*For h1 of home page */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    color: rgb(27, 62, 128);
}

nav{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
   
}
.navbar{
    background-color: rgb(255, 150, 12);
    width: 100vw; 
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav{
    padding-right: 20px;
    
}

.nav li{
    list-style: none;
    gap: 5px;
}
.nav ul{
    display: flex;
    gap: 15px;
}
.nav a{
 padding-left: 10px;
 text-decoration: none;
 color:  rgb(27, 62, 128);

}
.heading {
    padding-left: 10px;
}
.nav a:hover{
    color: rgb(97, 39, 204);
    font-size: large;
}

.homecontantd{
    display: flex;
    margin: 100px auto;
    padding: 10px;
    width: 70vw;
    flex-direction: column;
    
}
.homecontantd h1{
    width: 70vw;
    padding-top: 5vh;
    font-size:50px;
    text-align: center;
    font-family: 'Borel';
    animation-name: h1animation;
    animation-duration: 2s;
}
 h2{
    padding: 10px;
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
}

 p{
    font-family: 'Croissant One';
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    
}
#Projects{
    display: flex;
    margin: 250px auto;
    padding:100px  10px;
    width: 70vw;
    flex-direction: column;
}
.Projects  li {
    font-family: 'Croissant One';
    padding: 10px;
    text-align: justify;
    font-size: 20px;}
    .about{
        display: flex;
    margin: 350px auto;
    padding:100px  10px;
    width: 70vw;
    flex-direction: column;
    }

.contact{

    display: flex;
    margin: 250px auto;
    padding:100px  10px;
    width: 70vw;
    flex-direction: column;
}

.team{
    padding-top:50px ;
    padding-bottom:50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.member img{
    height: 200px;
    border: 2px solid  rgb(27, 62, 128);
    border-radius: 50%;
}
.photo{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.member{
    border: 2px solid ;
    border-radius: 20px;
    width: 300px;
    
}
.info{
    padding: 30px 10px;
    text-align: justify;
}

h3{
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
}

@keyframes h1animation{
    from{
        text-align: left;
    }
    to{text-align: center;}
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color:white;
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(255, 150, 12);
    border-radius:200px;  

}

footer{
    padding-top: 200px; 
    padding-bottom: 20px;
text-align: center;
}