*{
    margin: 0;
    padding: 0;
    /* background: #000; */
    color: aliceblue;
}
header{
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 5vw;
    justify-content:center
}
.sfi-logo{
    width: fit-content;
}
.dropdowen{
    display: none;
}
.navbar{
    display: flex;
    align-items: center;
letter-spacing: 1px;}
.navbar ul{
    list-style: none;
    display: inline-flex;
    gap: 20px;
}

.navbar  a {
    color:#ccc;
text-decoration: none;}
.navbar a:hover{
    color: red;
}


@media (max-width: 700px) {
    .dropdowen{
        display: flex;
       
        width: 10vw;
        display: block;
    }
    .dropdowen svg{
        padding-top: 23px;
        width: 20vw;
        height: 50px;
    }
    .sfi-logo img{
width: 70dvw;
    }
   
    header{
        background-color:transparent;
        padding: 0;
        
    }
    .logandsvg{
        position: fixed;
        display: flex;
        gap: 30px;
        background-color: black;
        width: 100vw;}


        .navbar{
            display: none;
            background: #000;
            height: fit-content;
            width: 42vw;
            position: fixed;
            top: 15vw;
            right: 10px;
            border: 2px solid white;
border-radius: 20px;
z-index: 9999;
        }

        .navbar ul{
            list-style: none;
            display: block;
            padding: 20px;
        }
        .navbar ul li{
            padding: 10px ;
            font-size: 25px;
            text-align: center;
        }
        
        .navbar  li a {
            color:#ccc;
        text-decoration: none;
    width: 100%;}
        .navbar a:hover{
color: red;     }

.navbar {
    display: none;
}

.navbar.show-navbar {
    display: block;
}

}
